<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "homes/list" %>
      <main>
        <a>user show</a>
        <a>book new</a>
        <a>user show(me)</a>
      </main>
    <% else %>
      <%= render "homes/list" %>
      <main>


          <a  href="/users/sign_in">Log in</a>
          <a  href="/users/sign_up">Sign Up</a>



      </main>
    <% end %>
    <footer>
    		<p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>